<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ccjob.name %>
</p>

<p>
  <b>Job file url:</b>
  <%= @ccjob.job_file_url %>
</p>

<p>
  <b>Input bucket url:</b>
  <%= @ccjob.input_bucket_url %>
</p>

<p>
  <b>Output bucket url:</b>
  <%= @ccjob.output_bucket_url %>
</p>

<p>
  <b>Status:</b>
  <%= @ccjob.status %>
</p>

<div class="span8 offset2 job-table">
  <h3 class="jobs-caption">Your Tasks maintanince</h3>
  <table class="table table-hover table-wrapper">
    <tr>
      <td> Task Name</td>
      <td> Progress</td>
      <td> Status</td>
    </tr>
    <tr>
      <td> Fitering index.html</td>
      <td> 
        <progress id="progressbar" class="progress-mini" value="0" max="100">
        </progress>
      </td>
      <td> In progress..</td>
    </tr>
  </table>
</div>


<%= link_to 'Back', ccjobs_path %>
