<%= form_for(@pc_owner) do |f| %>
  <% if @pc_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pc_owner.errors.count, "error") %> prohibited this pc_owner from being saved:</h2>

      <ul>
      <% @pc_owner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :revenu %><br />
    <%= f.number_field :revenu %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
